

.bodydiv{
  width: 100%;
  height: 500px;
 
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;

  

  .first{
   background-image: url('../assets/imagens/about-us-background.jpg');
   background-repeat: no-repeat;
   background-size: cover;
    height:500px;
    width: 800px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    

    .maycon{ 
      width:400px;
      border-radius: 100%;
    }
  }
  .second{
    background-color: rgb(240, 236, 236);
    display: flex;
    text-align: center;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    
    height:500px;
    width: 800px;

    
      .logo{
        position: relative;
        
        display: flex;
        text-align: center;
      }
    h3{
      margin-top:20px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
    }
   
  }

}
@media screen and (max-width: 970px) {
  .bodydiv{
    display: flex;
    width: 100%;
     flex-direction:column;
     margin-bottom:40px;
     .first{
       width: 100%;
        height: 400px;
        margin-bottom: 10px;
       .maycon{
         width:200px;
       }
     }
     .second{
       width: 100%;
       height: 400px;
     }
   }
   
 
}
@media screen and (max-width: 400px) {
  .bodydiv{
  .second{
    h3{
      font-size:15px;
    }
  }
}
}
