.contact-body{
    background-color: rgb(58, 58, 58);
  h1{
    text-align: center;
    background-color:#000;
    color: #fff;
    padding-bottom:10px;
  }
   h2{
     color: #fff;
     text-align: center;
    font-size:25px;
   }
   p{
     color: #fff;
    margin-top:10px;
    font-size:18px;
    text-align: left;
    margin-bottom:10px;
    text-align: center;
   }
   a{
     color: rgb(241, 123, 123);
     
   }
}