div.info-body{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color: rgb(240, 236, 236);
  .h1{
    width:100%;
    text-align: center;
    background-color:#000;
    color:#fff;
  }
  .section{
    margin-top:20px;
    width:50%;
    text-align:center;

    h4{
      
      font-size:25px;
    }
    p{

      margin-top:10px;
      font-size:18px;
      text-align: left;
      margin-bottom:10px;
    }
  }
  @media screen and (max-width: 900px) {
    .section{
      width:100%;
    }
  }
}
